{% extends "layouts/customer-dashboard-layout.html" %}

{% block contents %}


<div class="row">
    <div class="col-md-6 ">
        <!-- BEGIN NEW PRODUCT FORM -->

        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption font-red-sunglo">
                    <i class="icon-settings font-red-sunglo"></i>
                    <span class="caption-subject bold uppercase"> Modificar dirección de envio </span>
                </div>

            </div>
            <div class="portlet-body form">
                <form role="form" name="create_customer_address"  id="create_customer_address"action="/customer-address/create" method="post">
                    <div class="form-body">

                      <!--Name-->
                        <div class="form-group">
                            <label> </label>
                            <div class="_input-icon _input-icon-sm">
                                <input type="hidden" class="form-control _input-sm" id="address_id" name="address_id"  value="{{address. id}}">
                            </div>
                    </div>

                      <!--Name-->
                        <div class="form-group">
                            <label>Nombre del Receptor </label>
                            <div class="_input-icon _input-icon-sm">
                                <input type="text" class="form-control _input-sm" id="name" name="name"  value="{{address. recipient_name}}">
                            </div>
                    </div>

                       <!--STREET-->
                        <div class="form-group">
                            <label>Dirección</label>
                            <div class="_input-icon _input-icon-sm">
                                <input type="text" class="form-control _input-sm" id="street" name="street" value="{{address.line_one}}">
                            </div>
                         </div>

                         <!--REF-->
                        <div class="form-group">
                            <label>Ciudad</label>
                            <div class="_input-icon _input-icon-sm">
                                <input type="text" class="form-control _input-sm" id="city" name="city" value="{{address.city}}">
                            </div>
                         </div>
                          <!--FABRICANTE-->
                        <div class="form-group">
                            <label>Código postal</label>
                            <div class="_input-icon _input-icon-sm">
                                <input type="text" class="form-control _input-sm" id="post_code" name="post_code"  value="{{address.post_code}}">
                            </div>
                         </div>

                          <!--FABRICANTE-->
                        <div class="form-group">
                            <label>Provincia</label>
                            <div class="_input-icon _input-icon-sm">
                                <input type="text" class="form-control _input-sm" id="province"
                                name="province"  value="{{address.state}}">
                            </div>
                         </div>

                          <!--FABRICANTE-->
                        <div class="form-group">
                            <label>Pais</label>
                            <div class="_input-icon _input-icon-sm">
                                <input type="text" class="form-control _input-sm" id="country"
                                name="country"  value="{{address.country}}">
                            </div>
                         </div>
                          <!--SHORT DESC-->
                        <div class="form-group">
                            <label>Observaciones sobre esta  dirección </label>
                            <textarea class="form-control" rows="3" id="other_details" name="other_details"> {{address.other_details}} </textarea>
                        </div>



                    </div>
                    <div class="form-actions">
                        <button type="submit" class="btn blue" id="edit_customer_address_btn">Actualizar</button>
                        <button type="button" class="btn default">Cancel</button>
                    </div>
                </form>
            </div>
        </div>


        <!-- END NEW PRODUCT FORM -->
    </div>
</div>



{% endblock %}
