{% extends "layouts/customer-dashboard-layout.html" %} {% block contents %}
<h1> Lista de direcciones de  envio </h1>
<p class="pull-right">
    <a href="/customer-address/create" class="btn _btn-circle _btn-lg green"> Nueva dirrección<i class="fa fa-plus"></i></a>
</p>

<h3> Direcion</h3>
{% for address in addresses %}
<p>
  <a href="/customer-address/edit/{{address.id}}"  class="btn blue" data-address-id="{{address.id}}">Modificar</a>
  <button type="button"  class="btn red delete_customer_address_btn" data-address-id="{{address.id}}">Borrar</button>
</p>
  <p>{{address.recipient_name}}</p>
  <p>{{address.street}}</p>
  <p>{{address.post_code}}</p>
  <p>{{address.city}}</p>
  <p>{{address.province}}</p>
  <p>{{address.country}}</p>
  <p>{{address.other_details}}</p>

{% endfor %}

{% endblock %}
