<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Flibuy | {{pageTitle}} </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <link href="/css/themify-icons.css" rel="stylesheet" type="text/css" media="all" />
    <link href="/css/flexslider.css" rel="stylesheet" type="text/css" media="all" />
    <link href="/css/lightbox.min.css" rel="stylesheet" type="text/css" media="all" />
    <link href="/css/ytplayer.css" rel="stylesheet" type="text/css" media="all" />
    <link href="/css/theme.css" rel="stylesheet" type="text/css" media="all" />
    <link href="/css/custom.css" rel="stylesheet" type="text/css" media="all" />
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400%7CRaleway:100,400,300,500,600,700%7COpen+Sans:400,500,600' rel='stylesheet' type='text/css'>

    <!--Libs-->
    <!-- <link rel="stylesheet" href="http://s.mlcdn.co/animate.css">-->
     <link href="/tooltipster/dist/css/tooltipster.bundle.min.css" rel="stylesheet" type="text/css" media="all" />
     <link href="/jquery-toast-plugin/dist/jquery.toast.min.css" rel="stylesheet" type="text/css" media="all" />
    <!-- <script src="http://maps.google.com/maps/api/js"></script>
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script> -->


     <!--Added Styles-->
       <link href="custom.css" rel="stylesheet" type="text/css" media="all" />

</head>

<body class="scroll-assist">

    <div class="nav-container">
        <a id="top"></a>
        <nav>
            <!-- <div class="nav-utility">
                    <div class="module left">
                        <i class="ti-location-arrow">&nbsp;</i>
                        <span class="sub">68 Cardamon Place, Melbourne Vic 3000</span>
                    </div>
                    <div class="module left">
                        <i class="ti-email">&nbsp;</i>
                        <span class="sub">hello@foundry.net</span>
                    </div>
                    <div class="module right">
                        <a class="btn btn-sm hidden-xs hidden-sm hidden-md" href="variant/builder.html">Try Builder</a>
                        <a class="btn btn-sm btn-filled" href="#">Buy Now</a>
                    </div>
                </div>-->
            <div class="nav-bar">
                <div class="module left">
                    <a href="/">
                        <h2>Flibuy <span class="label">La subasta invertida</span></h2>
                    </a>
                </div>
                <div class="module widget-handle mobile-toggle right visible-sm visible-xs">
                    <i class="ti-menu"></i>
                </div>
                <div class="module-group right">
                    <div class="module left">
                        <ul class="menu">
                            <li class="">
                                <a href="/shop">
                                        Tienda
                                    </a>
                            </li>
                            {% if user %}
                              <li class="">
                                <a >
                                      {{user.username}}
                                    </a>
                            </li>


                             <li class="">
                                <a href="/customer-dashboard">
                                      Área privada
                                    </a>

                            </li>

                              <li class="">
                                <a href="/logout">
                                        salir
                                    </a>

                            </li>
                          {% else  %}
                          <li class="">
                                <a href="/signup-customer">
                                        Crear cuenta
                                    </a>

                            </li>
                             <li class="">
                                <a href="/login-customer">
                                        Iniciar sesión
                                    </a>
                            </li>

                            <li class="">
                                <a href="/signup-business">
                                       Crear cuenta vendedor
                                    </a>
                            </li>
                            <li class="">
                                <a href="/login-business">
                                        Iniciar sesión vendedor
                                    </a>
                            </li>
                          {% endif %}

                        </ul>
                    </div>

                </div>
                <!--end of module group-->
            </div>
        </nav>
    </div>

    <!-- Main content goes here -->
        <div class="main-container">

       <!--Full width static slider-->
         {% block staticSlider %} {% endblock %}

            <!-- Main body -->
            {% block contents %} Default contents {% endblock %}

       <!-- Footer -->
       <footer class="footer-1 bg-dark">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 col-sm-6">
                        <img alt="Logo" class="logo" src="img/logo-light.png" />
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="widget">
                            <h6 class="title">Recent Posts</h6>
                            <hr>
                            <ul class="link-list recent-posts">
                                <li>
                                    <a href="#">Hugging pugs is super trendy</a>
                                    <span class="date">February
                                            <span class="number">14, 2015</span>
                                    </span>
                                </li>
                                <li>
                                    <a href="#">Spinning vinyl is oh so cool</a>
                                    <span class="date">February
                                            <span class="number">9, 2015</span>
                                    </span>
                                </li>
                                <li>
                                    <a href="#">Superior theme design by pros</a>
                                    <span class="date">January
                                            <span class="number">27, 2015</span>
                                    </span>
                                </li>
                            </ul>
                        </div>
                        <!--end of widget-->
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="widget">
                            <h6 class="title">Latest Updates</h6>
                            <hr>
                            <div class="twitter-feed">
                                <div class="tweets-feed" data-widget-id="492085717044981760">
                                </div>
                            </div>
                        </div>
                        <!--end of widget-->
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="widget">
                            <h6 class="title">Instagram</h6>
                            <hr>
                            <div class="instafeed" data-user-name="mrareweb">
                                <ul></ul>
                            </div>
                        </div>
                        <!--end of widget-->
                    </div>
                </div>
                <!--end of row-->
                <div class="row">
                    <div class="col-sm-6">
                        <span class="sub">&copy; Copyright 2016 - Flibuy.com</span>
                    </div>
                    <div class="col-sm-6 text-right">
                        <ul class="list-inline social-list">
                            <li>
                                <a href="#">
                                    <i class="ti-twitter-alt"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="ti-facebook"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="ti-dribbble"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="ti-vimeo-alt"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!--end of container-->
            <a class="btn btn-sm fade-half back-to-top inner-link" href="#top">Top</a>
        </footer>
    </div>



   <!--End main content-->
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/flickr.js"></script>
    <script src="/js/flexslider.min.js"></script>
    <script src="/js/lightbox.min.js"></script>
    <script src="/js/masonry.min.js"></script>
    <script src="/js/twitterfetcher.min.js"></script>
    <script src="/js/spectragram.min.js"></script>
    <script src="/js/ytplayer.min.js"></script>
    <script src="/js/countdown.min.js"></script>
    <script src="/js/smooth-scroll.min.js"></script>
    <script src="/js/parallax.js"></script>
    <script src="/js/scripts.js"></script>

    <!-- <script  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAjGKuZC5BSlDDAFK4lHP0A2w50EJ9sk1g&callback=initMap"
  ></script>
    <script src="https://cdn.jsdelivr.net/gmap3/7.1.0/gmap3.min.js"></script> -->
    <!--Libs-->
    <script src="/socket.io-client/socket.io.js"></script>
    <script src="/tooltipster/dist/js/tooltipster.bundle.min.js"></script>
    <script src="/jquery-toast-plugin/dist/jquery.toast.min.js"></script>
    <script src="/jquery.countdown/dist/jquery.countdown.min.js"></script>

    <script src="/components.js"></script> <!--App scripts-->
    <script src="/custom.js"></script> <!--App scripts-->
    <script src="/socket-reciever.js"></script> <!--App scripts tha recieves data from server -->

</body>

</html>
