{% extends "layouts/business-dashboard-layout.html" %}

 {% block contents %}

<div class="row">
    <div class="col-md-8 ">
        <!-- BEGIN NEW PRODUCT FORM -->

        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption font-red-sunglo">
                    <i class="icon-settings font-red-sunglo"></i>
                    <span class="caption-subject bold uppercase"> Modifica sus datos de la  cuenta bancaria </span>
                </div>
                <div class="actions">
                    <div class="btn-group">
                        <!-- <a class="btn btn-sm green dropdown-toggle" href="javascript:;" data-toggle="dropdown"> Actions
                                                <i class="fa fa-angle-down"></i>
                                            </a> -->
                        <ul class="dropdown-menu pull-right">
                            <!-- <li>
                                <a href="javascript:;">
                                    <i class="fa fa-pencil"></i> Edit </a>
                            </li>
                            <li>
                                <a href="javascript:;">
                                    <i class="fa fa-trash-o"></i> Delete </a>
                            </li>
                            <li>
                                <a href="javascript:;">
                                    <i class="fa fa-ban"></i> Ban </a>
                            </li>
                            <li class="divider"> </li>
                            <li>
                                <a href="javascript:;"> Make admin </a>
                            </li> -->
                        </ul>
                    </div>
                </div>
            </div>
            <div class="portlet-body form">
                <form role="form" name="create_product"  id="create_bank_accounts" action="" method="post">
                    <div class="form-body">


                      <!--Name-->
                        <div class="form-group">
                            <label>Nombre titular </label>
                            <div class="_input-icon _input-icon-sm">
                                <input type="text" class="form-control _input-sm" id="account_name" name="account_name" value="{{account.account_name}}">
                            </div>
                            </div>

                            <div class="form-group">
                                <label>Nombre Banco</label>
                                <div class="_input-icon _input-icon-sm">
                                    <input type="text" class="form-control _input-sm" id="bank_name" name="bank_name" value="{{account.bank_name}}">
                                </div>
                                </div>

                       <!--Account numbre-->
                        <div class="form-group">
                            <label>Número de cuenta</label>
                            <div class="_input-icon _input-icon-sm">
                                <input type="text" class="form-control _input-sm" id="account_number" name="account_number" value="{{account.account_number}}">
                            </div>
                         </div>



                          <!-- SELLER REMARKS -->
                        <div class="form-group">
                            <label>¿Alguna anotacion?</label>
                            <textarea class="form-control" rows="3" id="seller_remarks" name="seller_remarks">{{account.seller_remarks}}</textarea>
                        </div>


                    </div>
                    <div class="form-actions">
                        <button type="submit" class="btn blue" id="edit_bank_account_btn">Guardar</button>
                    </div>
                </form>
            </div>
        </div>


        <!-- END NEW PRODUCT FORM -->
    </div>
</div>

{% endblock %}
