{% extends "layouts/business-dashboard-layout.html" %}

{% block contents %}
<h1> Cuenta Bancaria</h1>
<p class="pull-right">
    <a href="/bank-accounts/create" class="btn _btn-circle _btn-lg green"> Añada una cuenta<i class="fa fa-plus"></i></a>
</p>

{% for item in accounts %}
<p>
  <a href="/bank-accounts/edit/{{item.id}}"  class="btn blue" data-address-id="{{item.id}}"> Modificar </a>
</p>
  <p>Titular de la cuenta: {{item.account_name}}</p>
  <p>Banco:  {{item.bank_name}}</p>
  <p>Número de cuenta:  {{item.account_number}}</p>
  <p>Anotaciones : {{item.seller_remarks}}</p>


{% endfor %}

{% endblock %}
