{% extends "layouts/business-dashboard-layout.html" %}

{% block contents %}


<div class="row">
    <div class="col-md-6 ">
        <!-- BEGIN NEW PRODUCT FORM -->

        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption font-red-sunglo">
                    <i class="icon-settings font-red-sunglo"></i>
                    <span class="caption-subject bold uppercase"> Añada una  nueva dirección</span>
                </div>

            </div>
            <div class="portlet-body form">
                <form role="form" name="create_business_address"  id="create_business_address"  autocomplete="on" action="/business-address/create" method="post">
                    <div class="form-body">


                      <!--Address Type-->
                        <div class="form-group">
                            <label>Tipo de dirección </label>
                            <select class="form-control" id="address_type" name="address_type">
                                <option> PUNTO DE RECOGIDA </option>
                                <option> CORRESPONDENCIA </option>
                            </select>
                            </div>

                            <!--Business Name -->
                             <div class="form-group">
                                 <label> Nombre de tienda o negocio </label>
                                 <div class="_input-icon _input-icon-sm">
                                     <input type="text" class="form-control _input-sm" id="name" name="name" placeholder="">
                                 </div>
                              </div>

                       <!--SKU-->
                        <div class="form-group">
                            <label>Dirección</label>
                            <div class="_input-icon _input-icon-sm">
                                <input type="text" class="form-control _input-sm" id="street" name="street" placeholder="">
                            </div>
                         </div>

                         <!--REF-->
                        <div class="form-group">
                            <label>Ciudad</label>
                            <div class="_input-icon _input-icon-sm">
                                <input type="text" class="form-control _input-sm" id="city" name="city" placeholder="">
                            </div>
                         </div>
                          <!--FABRICANTE-->
                        <div class="form-group">
                            <label>Código postal</label>
                            <div class="_input-icon _input-icon-sm">
                                <input type="text" class="form-control _input-sm" id="post_code"
                                name="post_code"  placeholder="">
                            </div>
                         </div>

                          <!--FABRICANTE-->
                        <div class="form-group">
                            <label>Provincia</label>
                            <div class="_input-icon _input-icon-sm">
                                <input type="text" class="form-control _input-sm" id="province"
                                name="province"  placeholder="">
                            </div>
                         </div>

                          <!--FABRICANTE-->
                        <div class="form-group">
                            <label>Pais</label>
                            <div class="_input-icon _input-icon-sm">
                                <input type="text" class="form-control _input-sm" id="country"
                                name="country"  placeholder="">
                            </div>
                         </div>
                          <!--SHORT DESC-->
                        <div class="form-group">
                            <label>Observaciones sobre esta  dirección </label>
                            <textarea class="form-control" rows="3" id="other_details" name="other_details" placeholder=" casa o domicilio permanente"></textarea>
                        </div>



                    </div>
                    <div class="form-actions">
                        <button type="submit" class="btn blue" id="create_business_address_btn">Guardar</button>
                        <button type="button" class="btn default">Cancel</button>
                    </div>
                </form>
            </div>
        </div>


        <!-- END NEW PRODUCT FORM -->
    </div>
</div>



{% endblock %}
