{% extends "layouts/business-dashboard-layout.html" %}

{% block contents %}

<div class="row">
<div class="col-md-8 ">
  <p>
     <a href="/business-address/create" class="btn green btn-outline">Nuava dirección
       <i class="fa fa-plus"></i>
     </a>
  </p>
</div>

{% for address in addresses %}
  <div class="col-md-6 col-sm-12">
    <div class="portlet green-meadow box">
      <div class="portlet-title">
        <div class="caption">
          <i class="fa fa-cogs"></i>{{address.address_type}}</div>
          <div class="actions">
            <a href="/business-address/edit/{{address.id}}" class="btn btn-default btn-sm">
              <i class="fa fa-pencil"></i> Edit </a>
            </div>
          </div>
          <div class="portlet-body">
            <div class="row static-info">
              <div class="col-md-12 value"> {{address.business_name}}
                <br> {{address.line_one}}
                <br> {{address.post_code}}
                <br> {{address.city}}
                <br> {{address.state}}
                <br> {{address.country}}
                <br> T: 123123232
                <br> F: 231231232
                <br> </div>
              </div>
            </div>
          </div>
        </div>

{% endfor %}
        <!-- <div class="col-md-6 col-sm-12">
          <div class="portlet red-sunglo box">
            <div class="portlet-title">
              <div class="caption">
                <i class="fa fa-cogs"></i>Shipping Address </div>
                <div class="actions">
                  <a href="javascript:;" class="btn btn-default btn-sm">
                    <i class="fa fa-pencil"></i> Edit </a>
                  </div>
                </div>
                <div class="portlet-body">
                  <div class="row static-info">
                    <div class="col-md-12 value"> Jhon Done
                      <br> #24 Park Avenue Str
                      <br> New York
                      <br> Connecticut, 23456 New York
                      <br> United States
                      <br> T: 123123232
                      <br> F: 231231232
                      <br> </div>
                    </div>
                  </div>
                </div>
              </div> -->
            </div>


            {% endblock %}
