{% extends "layouts/business-dashboard-layout.html" %}

 {% block contents %}
<div class="row">
    <div class="col-md-6 ">
        <!-- BEGIN NEW PRODUCT FORM -->

        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption font-red-sunglo">
                    <i class="icon-settings font-red-sunglo"></i>
                    <span class="caption-subject bold uppercase"> Crear nuevo producto </span>
                </div>
                <div class="actions">
                    <div class="btn-group">
                        <a class="btn btn-sm green dropdown-toggle" href="javascript:;" data-toggle="dropdown"> Actions
                                                <i class="fa fa-angle-down"></i>
                                            </a>
                        <ul class="dropdown-menu pull-right">
                            <li>
                                <a href="javascript:;">
                                    <i class="fa fa-pencil"></i> Edit </a>
                            </li>
                            <li>
                                <a href="javascript:;">
                                    <i class="fa fa-trash-o"></i> Delete </a>
                            </li>
                            <li>
                                <a href="javascript:;">
                                    <i class="fa fa-ban"></i> Ban </a>
                            </li>
                            <li class="divider"> </li>
                            <li>
                                <a href="javascript:;"> Make admin </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="portlet-body form">
                <form role="form" name="create_product"  id="create_product"action="/product/create" method="post">
                    <div class="form-body">


                      <!--Name-->
                        <div class="form-group">
                            <label>Nombre del producto o servicio </label>
                            <div class="_input-icon _input-icon-sm">
                                <input type="text" class="form-control _input-sm" id="name" name="name" placeholder="">
                            </div>
                            </div>
                         <!--Category-->
                         <div class="form-group">
                            <label>Categoría </label>
                            <select class="form-control" id="category" name="category">
                                <option>Electronica</option>
                                <option>Informatica</option>

                            </select>
                        </div>

                        <!--Sub category-->
                         <div class="form-group">
                            <label>Sub categoría </label>
                            <select class="form-control" id="sub_category" name="sub_category">
                                <option>Tablets</option>
                                <option>Televisores</option>

                            </select>
                        </div>

                        <!--Product or service type-->
                         <div class="form-group">
                            <label>Tipo de producto </label>
                            <select class="form-control" id="type" name="type">
                                <option>Digital</option>
                                <option>Producto físico</option>

                            </select>
                        </div>

                         <!--New or used product -->
                         <div class="form-group">
                            <label>Es nuevo o usado? </label>
                            <select class="form-control" id="is_new" name="is_new">
                                <option>Si</option>
                                <option>No</option>
                            </select>
                        </div>
                       <!--SKU-->
                        <div class="form-group">
                            <label>SKU  (Stock Keeping Unit)</label>
                            <div class="_input-icon _input-icon-sm">
                                <input type="text" class="form-control _input-sm" id="sku" name="sku" placeholder="">
                            </div>
                         </div>

                         <!--REF-->
                        <div class="form-group">
                            <label>Referencia</label>
                            <div class="_input-icon _input-icon-sm">
                                <input type="text" class="form-control _input-sm" id="ref" name="ref" placeholder="">
                            </div>
                         </div>
                          <!--FABRICANTE-->
                        <div class="form-group">
                            <label>Fabricante</label>
                            <div class="_input-icon _input-icon-sm">
                                <input type="text" class="form-control _input-sm" id="manufacturer"
                                name="manufacturer"  placeholder="">
                            </div>
                         </div>
                          <!--SHORT DESC-->
                        <div class="form-group">
                            <label>Descripción breve</label>
                            <textarea class="form-control" rows="3" id="short_description" name="short_description"></textarea>
                        </div>
                         <!--LONG DESC-->
                        <div class="form-group">
                            <label>Descripción detallada</label>
                            <textarea class="form-control" rows="10" id="long_description" name="long_description"></textarea>
                        </div>


                    </div>
                    <div class="form-actions">
                        <button type="submit" class="btn blue" id="create_product_btn">Guardar</button>
                        <button type="button" class="btn default">Cancel</button>
                    </div>
                </form>
            </div>
        </div>


        <!-- END NEW PRODUCT FORM -->
    </div>
</div>

{% endblock %}
