{% extends "layouts/shop-layout.html" %}

{% block contents %}
    
    
       <div class="main-container">
            <section class="cover fullscreen image-bg overlay">
                <div class="background-image-holder">
                    <img alt="image" class="background-image" src="img/home2.jpg" />
                </div>
                <div class="container v-align-transform">
                    <div class="row">
                        <div class="col-sm-6 col-sm-offset-3">
                            <div class="feature bordered text-center">
                                <h4 class="uppercase">Crear cuenta de vendedor</h4> 
                                <form class="text-left"  action="/signup-business/" method="POST">
                                   <!--The tootip class made the input disapear-->
                                    <input type="text" name="name" _class="tooltip" title="Este nombre será público" placeholder="Ponle un nombre a tu negocio" />
                                    <input type="text" name="email" placeholder="Email" />
                                    <input type="password" name="password" placeholder="Contraseña" />
                                    <input type="password"  name="password_confirm"placeholder="Confirmar contraseña" />
                                    <input type="submit" value="Crear" />
                                </form>
                                <p class="mb0">Al crear la cuenta aceptas los 
                                    <a href="#">Terminos de uso</a>
                                </p>
                            </div>
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>
            </div>
    
    
{% endblock %}

