<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title> Flibuy | {{pageTitle}} </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <link href="/css/themify-icons.css" rel="stylesheet" type="text/css" media="all" />
    <link href="/css/flexslider.css" rel="stylesheet" type="text/css" media="all" />
    <link href="/css/lightbox.min.css" rel="stylesheet" type="text/css" media="all" />
    <link href="/css/ytplayer.css" rel="stylesheet" type="text/css" media="all" />
    <link href="/css/theme-purple.css" rel="stylesheet" type="text/css" media="all" />
    <link href="/css/custom.css" rel="stylesheet" type="text/css" media="all" />
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400%7CRaleway:100,400,300,500,600,700%7COpen+Sans:400,500,600' rel='stylesheet' type='text/css'>
</head>
<body class="scroll-assist">
    <div class="nav-container">
        <a id="top"></a>
        <nav>
            <!-- <div class="nav-utility">
                    <div class="module left">
                        <i class="ti-location-arrow">&nbsp;</i>
                        <span class="sub">68 Cardamon Place, Melbourne Vic 3000</span>
                    </div>
                    <div class="module left">
                        <i class="ti-email">&nbsp;</i>
                        <span class="sub">hello@foundry.net</span>
                    </div>
                    <div class="module right">
                        <a class="btn btn-sm hidden-xs hidden-sm hidden-md" href="variant/builder.html">Try Builder</a>
                        <a class="btn btn-sm btn-filled" href="#">Buy Now</a>
                    </div>
                </div>-->
            <div class="nav-bar">
                <div class="module left">
                    <a href="/">
                        <h2>Flibuy <span class="label">La subasta invertida</span></h2>
                    </a>
                </div>
                <div class="module widget-handle mobile-toggle right visible-sm visible-xs">
                    <i class="ti-menu"></i>
                </div>
                <div class="module-group right">
                    <div class="module left">
                        <ul class="menu">
                            <li class="">
                                <a href="/shop">
                                        Tienda
                                    </a>
                            </li>
                            {% if user %}
                              <li class="">
                                <a href="/signup-customer">
                                      {{user.username}}
                                    </a>

                            </li>
                             
                             <li class="">
                                <a href="/business-dashboard">
                                      Área privada
                                    </a>

                            </li>
                              <li class="">
                                <a href="/logout">
                                        salir
                                    </a>

                            </li>
                          {% else %}
                          <li class="">
                                <a href="/signup-customer">
                                        Crear cuenta r
                                    </a>

                            </li>
                             <li class="">
                                <a href="/login-customer">
                                        Iniciar sesión
                                    </a>
                            </li>
                            
                            <li class="">
                                <a href="/signup-business">
                                       Crear cuenta vendedor
                                    </a>
                            </li>
                            <li class="">
                                <a href="/login-business">
                                        Iniciar sesión vendedor
                                    </a>
                            </li>
                          {% endif %}

                        </ul>
                    </div>

                </div>
                <!--end of module group-->
            </div>
        </nav>
    </div>
<div class="main-container">
    <section class="bg-primary pb0">
        <div class="container pt80">
            <div class="row mb24 mb-xs-0">
                <div class="col-sm-10 col-sm-offset-1 text-center">
                    <h1 class="large">Present your app, easily.</h1>
                    <p class="lead">
                        The perfect layout for presenting landing pages for apps
                        <br /> or software in contemporary style.
                    </p>
                </div>
            </div>
            <!--end of row-->
            <div class="row mb80 mb-xs-24">
                <div class="col-sm-6 col-sm-offset-3">
                    <form class="form-newsletter halves" data-success="Thanks for your registration, we will be in touch shortly." data-error="Please fill all fields correctly.">
                        <input type="text" name="email" class="transparent validate-email validate-required  signup-email-field" placeholder="Email Address" />
                        <button type="submit" class="btn-white">Start Free</button>
                        <iframe srcdoc="<form action=&quot;http://mrareco.createsend.com/t/d/s/dyikkh/&quot; method=&quot;post&quot; id=&quot;subForm&quot;>     <p>         <label for=&quot;fieldName&quot;>Name</label><br />         <input id=&quot;fieldName&quot; name=&quot;cm-name&quot; type=&quot;text&quot; />     </p>     <p>         <label for=&quot;fieldEmail&quot;>Email</label><br />         <input id=&quot;fieldEmail&quot; name=&quot;cm-dyikkh-dyikkh&quot; type=&quot;email&quot; required />     </p>     <p>         <button type=&quot;submit&quot;>Subscribe</button>     </p> </form>" class="mail-list-form">
                        </iframe>
                    </form>
                </div>
            </div>
            <!--end of row-->
            <div class="row">
                <img alt="image" src="img/app1.png" />
            </div>
            <!--end of row-->
        </div>
        <!--end of container-->
    </section>
    <section class="bg-dark pt120 pb120 pt-xs-40 pb-xs-40">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-md-4 col-md-offset-2">
                    <div class="feature feature-3 mb64 mb-xs-24">
                        <div class="left">
                            <i class="ti-signal icon-sm"></i>
                        </div>
                        <div class="right">
                            <h4 class="mb16">Stay Organized</h4>
                            <p>
                                Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque.
                            </p>
                        </div>
                    </div>
                    <!--end of feature-->
                </div>
                <div class="col-sm-6 col-md-4">
                    <div class="feature feature-3 mb64 mb-xs-24">
                        <div class="left">
                            <i class="ti-ruler-alt icon-sm"></i>
                        </div>
                        <div class="right">
                            <h4 class="mb16">Get Creative</h4>
                            <p>
                                Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque.
                            </p>
                        </div>
                    </div>
                    <!--end of feature-->
                </div>
                <div class="col-sm-6 col-md-4 col-md-offset-2">
                    <div class="feature feature-3 mb-xs-24">
                        <div class="left">
                            <i class="ti-layers icon-sm"></i>
                        </div>
                        <div class="right">
                            <h4 class="mb16">Silky Parallax</h4>
                            <p>
                                Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque.
                            </p>
                        </div>
                    </div>
                    <!--end of feature-->
                </div>
                <div class="col-sm-6 col-md-4">
                    <div class="feature feature-3">
                        <div class="left">
                            <i class="ti-heart icon-sm"></i>
                        </div>
                        <div class="right">
                            <h4 class="mb16">Elite Author Item</h4>
                            <p>
                                Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque.
                            </p>
                        </div>
                    </div>
                    <!--end of feature-->
                </div>
            </div>
            <!--end of row-->
        </div>
        <!--end of container-->
    </section>
    <section class="bg-primary">
        <div class="container">
            <div class="row mb64 mb-xs-24">
                <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 text-center">
                    <h3 class="mb40 mb-xs-24">A landing page for the next generation.</h3>
                    <p class="lead">
                        Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi.
                    </p>
                </div>
            </div>
            <!--end of row-->
            <div class="row mb48 mb-xs-24">
                <div class="col-sm-8 col-sm-offset-2">
                    <div class="local-video-container mb40">
                        <div class="background-image-holder">
                            <img alt="Background Image" class="background-image" src="img/capital3.jpg">
                        </div>
                        <video controls="">
                            <source src="/video/video.webm" type="video/webm">
                            <source src="/video/video.mp4" type="video/mp4">
                            <source src="/video/video.ogv" type="video/ogg">
                        </video>
                        <div class="play-button dark"></div>
                    </div>
                    <!--end of local inline video-->
                </div>
            </div>
            <!--end of row-->
            <div class="row">
                <div class="col-sm-12 text-center spread-children-large">
                    <img alt="pic" class="image-xxs mb-xs-8 fade-half" src="/img/c1.png" />
                    <img alt="pic" class="image-xxs mb-xs-8 fade-half" src="/img/c2.png" />
                    <img alt="pic" class="image-xxs mb-xs-8 fade-half" src="/img/c3.png" />
                    <img alt="pic" class="image-xxs mb-xs-8 fade-half" src="/img/c4.png" />
                </div>
            </div>
            <!--end of row-->
        </div>
        <!--end of container-->
    </section>
    <section class="image-edge pt120 pb120 pt-xs-40 pb-xs-40">
        <div class="col-md-6 col-sm-4 p0 col-md-push-6 col-sm-push-8">
            <img alt="Screenshot" class="cast-shadow mb-xs-24" src="/img/app3.jpg" />
        </div>
        <div class="container">
            <div class="col-md-5 col-md-pull-0 col-sm-7 col-sm-pull-4 v-align-transform">
                <h3 class="mb40 mb-xs-16">Use the pre-built text and image variations to spruik cool features.</h3>
                <p class="lead mb40">
                    We've built three distinct image and text combinations for you to showcase the features of your product or service.
                </p>
                <div class="feature boxed">
                    <p>
                        "What a sick app this is - I've been searching forever for something like this to come along - WOW"
                    </p>
                    <div class="spread-children">
                        <img alt="Pic" class="image-xs" src="/img/avatar1.png" />
                        <span>Anne Bracken - Themeforest</span>
                    </div>
                </div>
            </div>
        </div>
        <!--end of container-->
    </section>
    <section class="image-edge pt120 pb120 pt-xs-40 pb-xs-40">
        <div class="col-md-6 col-sm-4 p0">
            <img alt="Screenshot" class="mb-xs-24" src="/img/app4.jpg" />
        </div>
        <div class="container">
            <div class="col-md-5 col-md-offset-1 col-sm-7 col-sm-offset-1 v-align-transform right">
                <h3 class="mb40 mb-xs-16">Combine different blocks together to form your perfect layout.</h3>
                <p class="lead mb40">
                    We've built three distinct image and text combinations for you to showcase the features of your product or service.
                </p>
                <div class="feature feature-3">
                    <div class="left">
                        <i class="ti-user icon-sm"></i>
                    </div>
                    <div class="right">
                        <h4 class="mb16">Built for you</h4>
                        <p>
                            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque.
                        </p>
                    </div>
                </div>
                <!--end of feature-->
                <div class="feature feature-3">
                    <div class="left">
                        <i class="ti-package icon-sm"></i>
                    </div>
                    <div class="right">
                        <h4 class="mb16">Incredible Value</h4>
                        <p>
                            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque.
                        </p>
                    </div>
                </div>
                <!--end of feature-->
            </div>
        </div>
        <!--end of container-->
    </section>
    <section>
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center">
                    <h1 class="thin mb80 mb-xs-24">Pricing? That's easy.</h1>
                </div>
            </div>
            <!--end of row-->
            <div class="row">
                <div class="col-md-4 col-sm-6 col-md-offset-2">
                    <div class="pricing-table pt-1 text-center">
                        <H5 class="uppercase">One User</H5>
                        <span class="price">$12</span>
                        <p class="lead">Per Month</p>
                        <a class="btn btn-filled btn-lg" href="#">Get Started</a>
                        <p>
                            30 Day Free Trial
                            <br /> No Credit Card Required
                        </p>
                    </div>
                    <!--end of pricing table-->
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="pricing-table pt-1 text-center emphasis">
                        <H5 class="uppercase">Unlimited Users</H5>
                        <span class="price">$29</span>
                        <p class="lead">Per Month</p>
                        <a class="btn btn-white btn-lg" href="#">Get Started</a>
                        <p>
                            30 Day Free Trial
                            <br /> No Credit Card Required
                        </p>
                    </div>
                    <!--end of pricing table-->
                </div>
            </div>
            <!--end of row-->
        </div>
        <!--end of container-->
        <div class="embelish-icons">
            <i class="ti-marker"></i>
            <i class="ti-layout"></i>
            <i class="ti-ruler-alt-2"></i>
            <i class="ti-eye"></i>
            <i class="ti-signal"></i>
            <i class="ti-pulse"></i>
            <i class="ti-marker"></i>
            <i class="ti-layout"></i>
            <i class="ti-ruler-alt-2"></i>
            <i class="ti-eye"></i>
            <i class="ti-signal"></i>
            <i class="ti-pulse"></i>
        </div>
    </section>
    <section class="image-bg overlay parallax">
        <div class="background-image-holder">
            <img alt="image" class="background-image" src="/img/app2.jpg" />
        </div>
        <div class="container">
            <div class="row mb40 mb-xs-24">
                <div class="col-sm-12 text-center spread-children">
                    <img class="image-xs" alt="Pic" src="/img/avatar1.png" />
                    <img class="image-xs" alt="Pic" src="/img/avatar2.png" />
                    <img class="image-xs" alt="Pic" src="/img/avatar3.png" />
                </div>
            </div>
            <!--end of row-->
            <div class="row mb16 mb-xs-0">
                <div class="col-sm-12 text-center">
                    <h3>People just like you are already loving Foundry</h3>
                </div>
            </div>
            <!--end of row-->
            <div class="row">
                <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">
                    <div class="text-slider slider-arrow-controls text-center relative">
                        <ul class="slides">
                            <li>
                                <p class="lead">It's clear to see just how seriously these guys take design. I've never come across a template with the level of polish as this - and don't even get me started on the page builder, there is simply NO competition. Customer for life.</p>
                                <div class="quote-author">
                                    <h6 class="uppercase mb0">Anna Thompson</h6>
                                    <span>Themeforest Customer</span>
                                </div>
                            </li>
                            <li>
                                <p class="lead">I love the ease-of-use the builder provides - I can quickly test different combinations and experiment with font and color combinations to find that sweet spot. Kudos for the amazing support too, really quick turnaround!</p>
                                <div class="quote-author">
                                    <h6 class="uppercase mb0">Rick Dempsey</h6>
                                    <span>Themeforest Customer</span>
                                </div>
                            </li>
                            <li>
                                <p class="lead">A fine example of atomic design brought to life. As a seasoned template user, I really appreciate the consistent styling for all common tags, it makes customising the sections that much easier. 5 stars as always for an amazing template.</p>
                                <div class="quote-author">
                                    <h6 class="uppercase mb0">Gill Sans</h6>
                                    <span>Themeforest Customer</span>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!--end of row-->
        </div>
        <!--end of container-->
    </section>
    <section class="bg-secondary">
        <div class="container">
            <div class="row mb40 mb-xs-0">
                <div class="col-sm-12 text-center">
                    <h4 class="uppercase">A Design To Be Proud Of</h4>
                </div>
            </div>
            <!--end of row-->
            <div class="row">
                <div class="col-sm-6 col-md-5 text-right text-center-xs">
                    <h1 class="large mb8">10,000+</h1>
                    <h6 class="uppercase">Customers using our templates</h6>
                </div>
                <div class="col-md-2 text-center hidden-sm hidden-xs">
                    <i class="ti-infinite icon icon-lg color-primary mt8 mt-xs-0"></i>
                </div>
                <div class="col-sm-6 col-md-5 text-center-xs">
                    <h1 class="large mb8">Limitless</h1>
                    <h6 class="uppercase">Layout potential using Foundry</h6>
                </div>
            </div>
            <!--end of row-->
        </div>
        <!--end of container-->
    </section>
    <section class="bg-primary">
        <div class="container">
            <div class="row mb64 mb-xs-24">
                <div class="col-sm-12 text-center">
                    <h3>Start building more beautiful pages today.</h3>
                </div>
            </div>
            <!--end of row-->
            <div class="row mb40 mb-xs-24">
                <div class="col-sm-6 col-sm-offset-3">
                    <form class="form-newsletter halves" data-success="Thanks for your registration, we will be in touch shortly." data-error="Please fill all fields correctly.">
                        <input type="text" name="email" class="mb0 transparent validate-email validate-required  signup-email-field" placeholder="Email Address" />
                        <button type="submit" class="btn-white mb0">Start Free</button>

                    </form>
                </div>
            </div>
            <!--end of row-->
            <div class="row">
                <div class="col-sm-12 text-center">
                    <h5 class="fade-half">
                        <strong>Free 30 day trial - No credit card required.</strong>
                    </h5>
                </div>
            </div>
            <!--end of row-->
        </div>
        <!--end of container-->
    </section>
    <footer class="footer-1 bg-dark">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <img alt="Logo" class="logo" src="/img/logo-light.png" />
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="widget">
                        <h6 class="title">Recent Posts</h6>
                        <hr>
                        <ul class="link-list recent-posts">
                            <li>
                                <a href="#">Hugging pugs is super trendy</a>
                                        <span class="date">February
                                            <span class="number">14, 2015</span>
                                        </span>
                            </li>
                            <li>
                                <a href="#">Spinning vinyl is oh so cool</a>
                                        <span class="date">February
                                            <span class="number">9, 2015</span>
                                        </span>
                            </li>
                            <li>
                                <a href="#">Superior theme design by pros</a>
                                        <span class="date">January
                                            <span class="number">27, 2015</span>
                                        </span>
                            </li>
                        </ul>
                    </div>
                    <!--end of widget-->
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="widget">
                        <h6 class="title">Latest Updates</h6>
                        <hr>
                        <div class="twitter-feed">
                            <div class="tweets-feed" data-widget-id="492085717044981760">
                            </div>
                        </div>
                    </div>
                    <!--end of widget-->
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="widget">
                        <h6 class="title">Instagram</h6>
                        <hr>
                        <div class="instafeed" data-user-name="mrareweb">
                            <ul></ul>
                        </div>
                    </div>
                    <!--end of widget-->
                </div>
            </div>
            <!--end of row-->
            <div class="row">
                <div class="col-sm-6">
                    <span class="sub">&copy; Copyright 2016 - Medium Rare</span>
                </div>
                <div class="col-sm-6 text-right">
                    <ul class="list-inline social-list">
                        <li>
                            <a href="#">
                                <i class="ti-twitter-alt"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="ti-facebook"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="ti-dribbble"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="ti-vimeo-alt"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!--end of container-->
        <a class="btn btn-sm fade-half back-to-top inner-link" href="#top">Top</a>
    </footer>
</div>
<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="/js/flickr.js"></script>
<script src="/js/flexslider.min.js"></script>
<script src="/js/lightbox.min.js"></script>
<script src="/js/masonry.min.js"></script>
<script src="/js/twitterfetcher.min.js"></script>
<script src="/js/spectragram.min.js"></script>
<script src="/js/ytplayer.min.js"></script>
<script src="/js/countdown.min.js"></script>
<script src="/js/smooth-scroll.min.js"></script>
<script src="/js/parallax.js"></script>
<script src="/js/scripts.js"></script>
</body>
</html>