{% extends "layouts/shop-layout.html" %}

{% block staticSlider %}
        {% include "layouts/shop-static-slider.html" %}
  {% endblock %}


{% block contents %}

<!-- PRODUCT DETAILS-->


            <section>
                <div class="container">
                    <div class="product-single">
                        <div class="row mb24 mb-xs-48">
                            <div class="col-md-5 col-sm-6">
                                <div class="image-slider slider-thumb-controls controls-inside">
                                    <span class="label" data-countdown={{moment(product.end_date).utc()}}
                                    data-product-auction-id="{{product.auction_id}}">Finaliza</span>
                                    <ul class="slides">
                                        <li>
                                            <!--<img alt="Image" src="http://lorempixel.com/400/200/city/" />-->
                                        </li>
                                        <li>
                                            <!--<img alt="Image" src="http://lorempixel.com/400/200/sports/" />-->
                                        </li>
                                        <li>
                                           <!-- <img alt="Image" src="http://lorempixel.com/400/200/cats/" />-->
                                        </li>
                                    </ul>
                                </div>
                                <!--end of image slider-->
                            </div>
                            <div class="col-md-5 col-md-offset-1 col-sm-6">
                                <div class="description">
                                    {{product | dump}}

                                    <h4 class="uppercase"> {{product.name}}</h4>
                                    <div class="mb32 mb-xs-24">
                                        <span class="number price old-price"> <em>€</em>{{product.price }}</span>
                                        <span class="number price">
                                             <em>€</em>
                                             <span id="{{product.auction_id}}-final-price">{{product.final_price }}</span>
                                         </span>
                                    </div>

                                    <p>
                                        {{product.short_description }}
                                    </p>
                                    <ul>
                                        <li>
                                            <strong>SKU:</strong> {{product.sku}}</li>
                                        <li>
                                         <li>
                                             <strong>REF:</strong> {{product.ref}}
                                        </li>

                                        <li>
                                             <strong>DE 1 >= {{product.discount_quantity_one}} UD's EL PRECIO SE REDUCE A </strong> €{{product.discount_price_one}}
                                        </li>
                                        <li>
                                             <strong>DE {{product.discount_quantity_two}} >= {{product.discount_quantity_three}}UD's EL PRECIO SE REDUCE A</strong> €{{product.discount_price_two}}
                                        </li>
                                        <li>
                                             <strong>DE {{product.discount_quantity_three}} >= {{product.discount_quantity_four}} UD's EL PRECIO SE REDUCE A</strong> €{{product.discount_price_three}}
                                        </li>
                                         <li>
                                             <strong>A PARTIR DE   {{product.discount_quantity_four}} UD's EL PRECIO SE REDUCE A </strong> €{{product.discount_price_four}}
                                        </li>


                                        <li>
                                            <strong>TOTAL UNIDADES:</strong> <span id=""> {{product.total_quantity}} </span></li>
                                        <li>
                                        <li>
                                            <strong>UNIDADES VENDIDAS:</strong> <span id="{{product.auction_id}}-total-sold"> {{product.total_quantity}} </span></li>
                                        <li>

                                            <strong>SIZES:</strong> XS,S,M,L,XL</li>
                                    </ul>
                                </div>
                                <hr class="mb48 mb-xs-24">
                                <form class="add-to-cart">
                                    <input type="text" id="quantity_purchased" placeholder="QTY" />
                                    <input type="submit" class="btn btn-info"
                                         id="bid"
                                         data-product-id={{product.id}}
                                         data-product-auction-id={{product.auction_id}}
                                     value="Compra 1"  />
                                    <!--<input type="submit" class="btn "
                                    id="cancel_bid"
                                    data-product-id={{product.id}}
                                    data-product-auction-id={{product.auction_id}}
                                    value="Borra 1"  />-->
                                </form>
                            </div>
                        </div>
                        <!--end of row-->
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="tabbed-content text-tabs">
                                    <ul class="tabs">
                                        <li class="active">
                                            <div class="tab-title">
                                                <span>Description</span>
                                            </div>
                                            <div class="tab-content">
                                                <p>
                                                     {{product.long_description }}
                                                </p>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="tab-title">
                                                <span>Punto de rcogida</span>
                                            </div>
                                            <div class="tab-content">

                                              <h3>{{product.business_name}}</h3> <br>
                                              {{product.line_one}}<br>
                                              {{product.post_code}}<br>
                                              {{product.city}}<br>
                                              {{product.state}}<br>
                                              {{product.country}}<br>





                                            </div>
                                        </li>
                                        <li>
                                            <div class="tab-title">
                                                <span>Ratings</span>
                                            </div>
                                            <div class="tab-content">
                                                <ul class="ratings">
                                                    <li>
                                                        <div class="user">
                                                            <ul class="list-inline star-rating">
                                                                <li>
                                                                    <i class="ti-star"></i>
                                                                </li>
                                                                <li>
                                                                    <i class="ti-star"></i>
                                                                </li>
                                                                <li>
                                                                    <i class="ti-star"></i>
                                                                </li>
                                                                <li>
                                                                    <i class="ti-star"></i>
                                                                </li>
                                                            </ul>
                                                            <span class="bold-h6">Murray Rafferty</span>
                                                            <span class="date number">23/02/2015</span>
                                                        </div>
                                                        <p>
                                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                                                        </p>
                                                    </li>
                                                    <li>
                                                        <div class="user">
                                                            <ul class="list-inline star-rating">
                                                                <li>
                                                                    <i class="ti-star"></i>
                                                                </li>
                                                                <li>
                                                                    <i class="ti-star"></i>
                                                                </li>
                                                                <li>
                                                                    <i class="ti-star"></i>
                                                                </li>
                                                                <li>
                                                                    <i class="ti-star"></i>
                                                                </li>
                                                                <li>
                                                                    <i class="ti-star"></i>
                                                                </li>
                                                            </ul>
                                                            <span class="bold-h6">Claire Taurus</span>
                                                            <span class="date number">15/02/2015</span>
                                                        </div>
                                                        <p>
                                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                                                        </p>
                                                    </li>
                                                </ul>
                                                <!--end of ratings-->
                                                <h6 class="uppercase">Leave A Rating</h6>
                                                <form class="ratings-form">
                                                    <div class="overflow-hidden">
                                                        <input type="text" placeholder="Your Name" />
                                                        <input type="text" placeholder="Email Address" />
                                                    </div>
                                                    <div class="select-option">
                                                        <i class="ti-angle-down"></i>
                                                        <select>
                                                            <option selected value="Default">Select A Rating</option>
                                                            <option value="1">1 Star</option>
                                                            <option value="2">2 Stars</option>
                                                            <option value="3">3 Stars</option>
                                                            <option value="4">4 Stars</option>
                                                            <option value="5">5 Stars</option>
                                                        </select>
                                                    </div>
                                                    <textarea placeholder="Comment" rows="3"></textarea>
                                                    <input type="submit" value="Leave Comment" />
                                                </form>
                                            </div>
                                        </li>



                                        <li>
                                            <div class="tab-title">
                                                <span>Preguntas</span>
                                            </div>
                                            <div class="tab-content">
                                                {%  for item in questions %}
                                                <ul class="ratings">
                                                    <li>
                                                        <div class="user">
                                                            <!-- <ul class="list-inline star-rating">
                                                                <li>
                                                                    <i class="ti-star"></i>
                                                                </li>
                                                                <li>
                                                                    <i class="ti-star"></i>
                                                                </li>
                                                                <li>
                                                                    <i class="ti-star"></i>
                                                                </li>
                                                                <li>
                                                                    <i class="ti-star"></i>
                                                                </li>
                                                                <li>
                                                                    <i class="ti-star"></i>
                                                                </li>
                                                            </ul> -->
                                                            <span class="bold-h6">{{item.question}}</span>
                                                            <span class="date number">{{moment(item.created_at).format('DD/MM/YYYY  HH:mm')}}</span>
                                                        </div>
                                                        <hr>
                                                        <p>
                                                            {{item.response}}
                                                        </p>
                                                    </li>
                                                </ul>
                                                {%  endfor %}
                                                <!--end of ratings-->
                                                <h6 class="uppercase">Haz una pregunta</h6>
                                                {% if user %}
                                                <form class="ratings-form">
                                                    <input type="hidden" id="question_product_id"value="{{product.id}}" />
                                                    <textarea placeholder="Pergunta" rows="3" id="question"></textarea>
                                                    <input type="submit" id="product_question_btn" value="Enviar pregunta" />
                                                </form>
                                                {% else %}
                                                  <h6 class="uppercase">Debes iniciar sesión  para poder realizar la consulta</h6>
                                                  {% endif  %}
                                            </div>
                                        </li>



                                    </ul>
                                </div>
                                <!--end of text tabs-->
                            </div>
                        </div>
                        <!--end of row-->
                    </div>
                    <!--end of product single-->
                </div>
                <!--end of container-->
            </section>

<!-- PRODUCT DETAILS-->



{% endblock %}
