{% extends "layouts/shop-layout.html" %}

{% block staticSlider %}
        {% include "layouts/shop-static-slider.html" %}
  {% endblock %}


{% block contents %}


            <section>
            <div class="container">
                <div class="row">
                    <div class="col-md-2 col-sm-4">
                        <div class="select-option">
                            <i class="ti-angle-down"></i>
                            <select>
                                <option selected value="Default">Sort By</option>
                                <option value="Small">Highest Price</option>
                                <option value="Medium">Lowest Price</option>
                                <option value="Larger">Newest Items</option>
                            </select>
                        </div>
                        <!--end select-->
                    </div>
                    <div class="col-md-10 text-right">
                        <span class="input-lh">Displaying 8 of 8 results</span>
                    </div>
                </div>
                <!--end of row-->
                <div class="row">
                    <div class="col-sm-12">
                        <hr>
                    </div>
                </div>
                <!--end of row-->
                <div class="row masonry">

                   {% for product in products %}
                    <!--end three col-->
                    <div class="col-md-3 col-sm-4 masonry-item col-xs-12">
                        <div class="image-tile outer-title text-center">
                            <a href="/shop/products/show/{{product.slug}}">
                                <span class="label" data-countdown={{moment(product.end_date).utc()}} data-product-auction-id="{{product.auction_id}}">Fecha</span>
                               <!-- <img alt="Pic" class="product-thumb" src="img/shop-product-4.jpg" />-->
                                <img alt="Pic" class="product-thumb" src="http://lorempixel.com/400/200/" />
                            </a>
                            <div class="title">
                                <h5 class="mb0"> {{product.name}}
                                        <!--<br /> Canvas Backpack--></h5>
                                <span class="display-block mb16">
                                €
                                <span id="{{product.auction_id}}-final-price">{{product.final_price}}</span></span>
                            </div>
                        </div>
                    </div>
                    <!--end three col-->
                      {%  endfor %}



                </div>
                <!--end of row-->
            </div>
            <!--end of container-->
        </section>



{% endblock %}
