{% extends "layouts/business-dashboard-layout.html" %}
{% block contents %}
<!-- BEGIN  PRODUCT LIST -->
<h1>Lista de productos en venta</h1>
<div class="row">
    <div class="col-md-12">
        <div class="note note-success">
            <p> Please try to re-size your browser window in order to see the tables in responsive mode. </p>
        </div>
        <!-- BEGIN SAMPLE TABLE PORTLET-->
        <div class="portlet box green">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-cogs"></i>Lista de productos </div>
                <div class="tools">
                    <a href="javascript:;" class="collapse"> </a>
                    <a href="#portlet-config" data-toggle="modal" class="config"> </a>
                    <a href="javascript:;" class="reload"> </a>
                    <a href="javascript:;" class="remove"> </a>
                </div>
            </div>
            <div class="portlet-body flip-scroll">
                <table class="table table-bordered table-striped table-condensed flip-content">
                    <thead class="flip-content">
                        <tr>
                            <th width="20%"> Imagen </th>

                            <th> Nombre </th>
                            <th> Estado </th>
                            <th> creado </th>

                            <th> Opciones </th>
                            <th> Low </th>
                            <th class="_numeric"> Volume </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for product in products %}
                        <tr>
                            <td> foto </td>
                            <td> <a href="/products-on-sale/show/{{product.id}}"> {{product.name}} </a></td>
                            <td class=""> hig </td>
                            <td class=""> -0.01 </td>
                            <td class="">
                                <div class="btn-group">
                                    <button class="btn blue btn-sm dropdown-toggle" type="button" data-toggle="dropdown">Opciones de venta
                                        <i class="fa fa-angle-down"></i>
                                    </button>
                                    <ul class="dropdown-menu" role="menu">
                                        <li>
                                            <a href="javascript:;"> Detalles de venta </a>
                                        </li>
                                        <li>
                                            <a href="javascript:;"> Subir imagenes </a>
                                        </li>
                                        <li>
                                            <a href="javascript:;"> Something else here </a>
                                        </li>
                                        <li class="divider"> </li>
                                        <li>
                                            <a href="javascript:;"> Separated link </a>
                                        </li>
                                    </ul>
                                </div>
                            </td>

                            <td class=""> $1.39 </td>
                            <td class="_numeric"> &nbsp; </td>

                        </tr>

                        {% endfor %}


                    </tbody>
                </table>
            </div>
        </div>
        <!-- END SAMPLE TABLE PORTLET-->
    </div>
</div>
<!-- END PRODUCT LIST  -->

{% endblock %}
