{% extends "layouts/business-dashboard-layout.html" %} {% block contents %}


<!-- BEGIN  PRODUCT LIST -->

<h1>Detalles de compra</h1>


<div class="row">
  <div class="col-md-12">
    <div class="note note-success">
      <p> Please try to re-size your browser window in order to see the tables in responsive mode. </p>
    </div>
    <pre>
   {{products | dump}}
  </pre> {% for purchase in purchases %}
    <!-- PURCHASE INFO PORTLET-->
    <div class="col-md-4 col-sm-12">
      <div class="portlet box green">
        <div class="portlet-title">
          <div class="caption">
            <i class="fa fa-cogs"></i> Resumen de compra </div>
          <div class="tools">
            <a href="javascript:;" class="collapse"> </a>
            <a href="#portlet-config" data-toggle="modal" class="config"> </a>
            <a href="javascript:;" class="reload"> </a>
            <a href="javascript:;" class="remove"> </a>
          </div>
        </div>
        <div class="portlet-body _flip-scroll">

          <div class="row static-info">
            <div class="col-md-5 name"> Cliente: </div>
            <div class="col-md-7 value">
              {{purchase.username}}
              <!-- <a href="/prodcuts-on-sale/purchase-details/{{auction.id}}">Detalles de las compras</a> -->
            </div>
          </div>

          <div class="row static-info">
            <div class="col-md-5 name"> #REF Compra: </div>
            <div class="col-md-7 value"> {{purchase.bid_id}}
              <!-- <span class="label label-info label-sm"> Email confirmation was sent </span> -->
            </div>
          </div>

          <div class="row static-info">
            <div class="col-md-5 name">UD's Compradas: </div>
            <div class="col-md-7 value"> {{purchase.quantity_purchased}} </div>
          </div>

          <div class="row static-info">
            <div class="col-md-5 name">Precio final: </div>
            <div class="col-md-7 value"> €{{purchase.final_price}} </div>
          </div>

          <div class="row static-info">
            <div class="col-md-5 name">Total compra: </div>
            <div class="col-md-7 value"> €{{purchase.final_price * purchase.quantity_purchased}} </div>
          </div>

          <div class="row static-info">
            <div class="col-md-5 name">Fecha y hora de la compra : </div>
            <div class="col-md-7 value"> {{moment(purchase.bid_date).format('dddd, MMMM Do YYYY, h:mm a')}} </div>
          </div>

        </div>
      </div>
    </div>

    <!-- CUSTOMER ADDRESS INFO  -->
    <div class="col-md-4 col-sm-12">
      <div class="portlet red-sunglo box">
        <div class="portlet-title">
          <div class="caption">
            <i class="fa fa-cogs"></i>Datos de envio  </div>
          <div class="tools">
            <a href="javascript:;" class="collapse"> </a>
            <a href="#portlet-config" data-toggle="modal" class="config"> </a>
            <a href="javascript:;" class="reload"> </a>
            <a href="javascript:;" class="remove"> </a>
          </div>
        </div>
        <div class="portlet-body _flip-scroll">
          <div class="row static-info">
            <div class="col-md-12 value">
              {% if purchase.is_local_sale %}
            <p>
              <span class="label label-primary _label-sm">
                    Es una venta local, los clientes irán a recogerlo en tienda o a  <br>
                   la dirección que el vendedor indique
                </span>
            </p>
              {% else %}
               {{purchase.recipient_name}}
              <br>   {{purchase.line_one}}
              <br>   {{purchase.post_code}}
              <br>   {{purchase.city}}
              <br>   {{purchase.state}}
              <br>   {{purchase.country}}
              <br>   {{purchase.mobile}}
              <br>   {{purchase.telephone}}
              <br>
                {% endif %}
            </div>
          </div>

        </div>
      </div>
    </div>


    <!-- CUSTOMER INFO  -->
    <div class="col-md-4 col-sm-12">
      <div class="portlet yellow-crusta box">
        <div class="portlet-title">
          <div class="caption">
            <i class="fa fa-cogs"></i>Datos contacto  </div>
          <div class="tools">
            <a href="javascript:;" class="collapse"> </a>
            <a href="#portlet-config" data-toggle="modal" class="config"> </a>
            <a href="javascript:;" class="reload"> </a>
            <a href="javascript:;" class="remove"> </a>
          </div>
        </div>
        <div class="portlet-body _flip-scroll">
          <div class="row static-info">
            <div class="col-md-12 value">
               {{purchase.username}}
              <br>   {{purchase.email}}

              <br>
            </div>
          </div>

        </div>
      </div>
    </div>


<div class="row">
  <div class="col-md-12">

  </div>

</div>
    {% endfor %}
    <!-- END SAMPLE TABLE PORTLET-->
  </div>

</div>


<!-- END PRODUCT LIST  -->


{% endblock %}
