{% extends "layouts/business-dashboard-layout.html" %} {% block contents %}


<!-- BEGIN  PRODUCT LIST -->

<h1>Detalles de venta </h1>


<div class="row">
  <div class="col-md-12">
    <div class="note note-success">
      <p> Please try to re-size your browser window in order to see the tables in responsive mode. </p>
    </div>
<!-- {{products | dump}} -->
  {% for auction in products %}
    <!-- BEGIN SAMPLE TABLE PORTLET-->
    <div class="portlet box green">
      <div class="portlet-title">
        <div class="caption">
          <i class="fa fa-cogs"></i>{{auction.name}} </div>
        <div class="tools">
          <a href="javascript:;" class="collapse"> </a>
          <a href="#portlet-config" data-toggle="modal" class="config"> </a>
          <a href="javascript:;" class="reload"> </a>
          <a href="javascript:;" class="remove"> </a>
        </div>
      </div>
      <div class="portlet-body flip-scroll">

        <div class="row static-info">
          <div class="col-md-5 name"> Ver compradores </div>
          <div class="col-md-7 value"> <a href="/prodcuts-on-sale/purchase-details/{{auction.id}}">Detalles de las compras</a>

          </div>
        </div>

        <div class="row static-info">
          <div class="col-md-5 name"> Venta #: </div>
          <div class="col-md-7 value"> {{auction.id}}
            <!-- <span class="label label-info label-sm"> Email confirmation was sent </span> -->
          </div>
        </div>

        <div class="row static-info">
          <div class="col-md-5 name">Creado: </div>
          <div class="col-md-7 value"> {{moment(auction.create).format('dddd, MMMM Do YYYY, h:mm a')}} </div>
        </div>
        <div class="row static-info">
          <div class="col-md-5 name">Fecha inicio: </div>
          <div class="col-md-7 value"> {{moment(auction.start_date).format('dddd, MMMM Do YYYY, h:mm a')}} </div>
        </div>

        <div class="row static-info">
          <div class="col-md-5 name">Fecha fin: </div>
          <div class="col-md-7 value"> {{moment(auction.end_date).format('dddd, MMMM Do YYYY, h:mm a')}} </div>
        </div>

        <div class="row static-info">
          <div class="col-md-5 name"> Estado: </div>
          <div class="col-md-7 value">
            <span class="label label-success"> {% if auction.completed %} Finalizado {% else %} En proceso de venta  {% endif %} </span>
          </div>
        </div>
        <div class="row static-info">
          <div class="col-md-5 name"> Es una venta local: </div>
          <div class="col-md-7 value">  {% if auction.is_local_sale %} Si {% else %} No  {% endif %}</div>
        </div>
        <div class="row static-info">
          <div class="col-md-5 name"> Precio final alcanzado: </div>
          <div class="col-md-7 value"> € {{auction.final_price}} </div>
        </div>
        <div class="row static-info">
          <div class="col-md-5 name"> Cantidades y descuentos  1: </div>
          <div class="col-md-7 value"> Entre 1 & {{auction.discount_quantity_one}} uds  el precio se reduce a €{{auction.discount_price_one}}</div>
        </div>
        <div class="row static-info">
          <div class="col-md-5 name"> Cantidades y descuentos  2: </div>
          <div class="col-md-7 value"> Entre {{auction.discount_quantity_one}} & {{auction.discount_quantity_two}} uds el precio se reduce a €{{auction.discount_price_two}}</div>
        </div>
        <div class="row static-info">
          <div class="col-md-5 name"> Cantidades y descuentos  3: </div>
          <div class="col-md-7 value"> Entre {{auction.discount_quantity_two}} & {{auction.discount_quantity_three}} uds el precio se reduce a €{{auction.discount_price_three}}</div>
        </div>
        <div class="row static-info">
          <div class="col-md-5 name"> Cantidades y descuentos  4: </div>
          <div class="col-md-7 value"> De {{auction.discount_quantity_three}} uds  hasta fin de existencias  el precio se reduce a €{{auction.discount_price_four}}</div>
        </div>

      </div>
    </div>
      {% endfor %}
    <!-- END SAMPLE TABLE PORTLET-->
  </div>
</div>


<!-- END PRODUCT LIST  -->


{% endblock %}
