{% extends "layouts/shop-layout.html" %}

{% block contents %}
    
    
       <div class="main-container">
            <section class="cover fullscreen image-bg overlay">
                <div class="background-image-holder">
                    <img alt="image" class="background-image" src="img/home2.jpg" />
                </div>
                <div class="container v-align-transform">
                    <div class="row">
                        <div class="col-sm-6 col-sm-offset-3">
                            <div class="feature bordered text-center">
                                <h4 class="uppercase">Crear cuenta comprador</h4>
                                <form class="text-left" name="create_customer" method="post" action="/signup-customer">
                                    <input type="text" name="name"  id="name" placeholder="Username" />
                                    <input type="text" name="email" id="email" placeholder="Email Address" />
                                    <input type="password" name="password"  id="password" placeholder="Password" />
                                    <input type="password" name="password_confirm" id="password_confirm" placeholder="repite su contraseña" />
                                    <input type="submit" id="create_customer_btn" value="Crear cuenta" />
                                </form>
                                <p class="mb0">Al crear una cuenta aceptas los
                                    <a href="#"> Terminos de Uso</a>
                                </p>
                            </div>
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>
            </div>
    
    
{% endblock %}

