{% extends "layouts/shop-layout.html" %}

{% block contents %}
    
    
       <div class="main-container">
            <section class="cover fullscreen image-bg overlay">
                <div class="background-image-holder">
                    <img alt="image" class="background-image" src="img/home2.jpg" />
                </div>
                <div class="container v-align-transform">
                    <div class="row">
                        <div class="col-sm-6 col-sm-offset-3">
                            <div class="feature bordered text-center">
                                <h4 class="uppercase">Bienvenido cliente</h4> 
                                <form class="text-left"  action="/login-customer" method="POST">
                                   <!--The tootip class made the input disapear-->
                                    <input type="text" name="email" id="email" placeholder="Email" />
                                    <input type="password" name="password" id="password" placeholder="Contraseña" />
                                    
                                    <input type="submit" id="login_customer_btn" value="Crear" />
                                </form>
                                <p class="mb0"> 
                                    <a href="#">He olvidado mi contraseña</a>
                                </p>
                            </div>
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>
            </div>
    
    
{% endblock %}
