{% extends "layouts/customer-dashboard-layout.html" %}

{% block contents %}


<div class="row">
    <div class="col-md-6 ">
        <!-- BEGIN NEW PRODUCT FORM -->

        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption font-red-sunglo">
                    <i class="icon-settings font-red-sunglo"></i>
                    <span class="caption-subject bold uppercase"> Modificar tarjeta de pago </span>
                </div>

                    <span class="payment-errors"></span>
            </div>
            <div class="portlet-body form">
                <form role="form"  id="payment-form" action="" method="POST">
                    <div class="form-body">


                      <!--Number-->
                        <div class="form-group">
                            <label>Número tarjeta </label>
                            <div class="_input-icon _input-icon-sm">
                              <input type="hidden" class="form-control _input-sm" id="customer_id" name="customer_id" value="{{card.stripe_customer_id}}" size="20" data-stripe="number">

                                <input type="text" class="form-control _input-sm" id="number" name="number" value="{{card.card_last4}}" size="20" data-stripe="number">
                            </div>
                            </div>

                       <!--exp_month-->
                        <div class="form-group">
                            <label>Mes de caducidad</label>
                            <div class="_input-icon _input-icon-sm">
                                <input type="text" class="form-control _input-sm" id="exp_month" name="exp_month" placeholder="" size="2" data-stripe="exp_month">
                            </div>
                         </div>

                         <!--exp_year-->
                        <div class="form-group">
                            <label>Año de caducidad</label>
                            <div class="_input-icon _input-icon-sm">
                                <input type="text" class="form-control _input-sm" id="exp_year" name="exp_year" placeholder="" size="2" data-stripe="exp_year">
                            </div>
                         </div>
                          <!--CVC-->
                        <div class="form-group">
                            <label>Código CVC</label>
                            <div class="_input-icon _input-icon-sm">
                                <input type="text" class="form-control _input-sm" id="cvc"
                                name="cvc"  placeholder="" size="4" data-stripe="cvc">
                            </div>
                         </div>








                    </div>
                    <div class="form-actions">
                        <button type="submit" class="btn blue submit" id="edit_customer_payment_btn">Guardar</button>
                        <!-- <button type="button" class="btn default">Cancel</button> -->
                    </div>
                </form>
            </div>
        </div>


        <!-- END NEW PRODUCT FORM -->
    </div>
</div>



{% endblock %}
