{% extends "layouts/customer-dashboard-layout.html" %} {% block contents %}
<h1> Tarjeta de pago </h1>
<p class="pull-right">
    <a href="/customer-payment/create" class="btn _btn-circle _btn-lg green"> Nueva tarjeta<i class="fa fa-plus"></i></a>
</p>

{% for card in cards %}
<p>
  <a href="/customer-payment/edit/{{card.id}}"  class="btn blue" data-card-id="{{card.id}}">Modificar</a>

</p>
  <p>Tipo :  {{card.card_brand}}</p>
  <p>Los 4 últimps digitos : {{card.card_last4}}</p>
  <p>Caducidad : {{card.card_exp_month}} / {{card.card_exp_year}}</p>


{% endfor %}




{% endblock %}
