{% extends "layouts/customer-dashboard-layout.html" %}


{% block contents %}
 <h1> Solicitar la cancelación de mi compra </h1>
    
    <p> Fomulario para cancelar la compra</p>
    <p> Pasar id de usario, auction_id, product_id </p>
    <p> Notificar al vendedor la cancelacion de compra </p>
    <p> Notificar admin de la cancelacion de compra </p>

    
{% endblock %}