
{% extends "layouts/customer-dashboard-layout.html" %}

<h1> Lista de productos que esta comprando </h1>
{% block contents %}


<div class="row">
    <div class="col-md-12">
        <div class="note note-success">
            <p> Please try to re-size your browser window in order to see the tables in responsive mode. </p>
        </div>
        <!-- BEGIN SAMPLE TABLE PORTLET-->
        <div class="portlet box green">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-cogs"></i>Lista de productos en proceso de compra </div>
                <div class="tools">
                    <a href="javascript:;" class="collapse"> </a>
                    <a href="#portlet-config" data-toggle="modal" class="config"> </a>
                    <a href="javascript:;" class="reload"> </a>
                    <a href="javascript:;" class="remove"> </a>
                </div>
            </div>
            <div class="portlet-body flip-scroll">
                <table class="table table-bordered table-striped table-condensed flip-content">
                    <thead class="flip-content">
                        <tr>
                            <th width="20%"> Imagen </th>
                            <th> Nombre producto </th>
                            <th> Fecha comprado </th>
                            <th> UD's Compradas </th>

                            <th> Opciones </th>
                            <th> Precio actual </th>
                            <th class="_numeric"> Precio original </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for product in products %}
                        <tr>
                            <td> foto </td>
                            <td> <a href="/shop/products/show/?id={{product.id}}"> {{product.name}} </a></td>
                            <td class=""> {{moment(product.purchase_date).format('DD-MM-YYYY HH:mm')}} </td>
                            <td class=""> {{product.purchased}} </td>
                            <td class="">
                                <div class="btn-group">
                                    <button class="btn blue btn-sm dropdown-toggle" type="button" data-toggle="dropdown">Opciones de venta
                                        <i class="fa fa-angle-down"></i>
                                    </button>
                                    <ul class="dropdown-menu" role="menu">
                                      <li>
                                          <a href="/generate-reciept/{{product.bid_id}}"> Bajar justificante</a>
                                      </li>
                                        <li>
                                            <a href="/cancel-bid/{{product.bid_id}}"> Concelar compra </a>
                                        </li>
                                        <li class="divider"> </li>
                                        <li>
                                            <a href="javascript:;"> Contactar con vendedor </a>
                                        </li>
                                    </ul>
                                </div>
                            </td>

                            <td class="">€ {{product.final_price}}</td>
                            <td class="_numeric"> &nbsp;  € {{product.price}}</td>

                        </tr>

                        {% endfor %}


                    </tbody>
                </table>
            </div>
        </div>
        <!-- END SAMPLE TABLE PORTLET-->
    </div>
</div>


<!-- END PRODUCT LIST  -->

{% endblock %}
