<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title> Justificante de compra </title>
  </head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" media="screen" title="no title" charset="utf-8">
  <style media="screen">
    body{
        margin-top:3em;
        margin-left: 3em;
    }
    .reciept-wrapper{
      padding: 2em;
      width: 550px;
      height: auto;
      border: 1px solid silver;
    }
  </style>
  <body>
    <div class="reciept-wrapper">
      <h2> {{product.name}}  </h2>
      #REF: {{control_number}} 001<br>
      Precio final: €{{product.final_price}}<br>
      Fecha inicio venta: {{moment(product.start_date).format("dddd, MMM Do YYYY, h:mm:ss ")}} <br>
      Fecha fin venta:{{moment(product.end_date).format("dddd, MMM Do YYYY, HH:mm:ss ")}}   <br>
      <p>
        {{product.short_description}}
      </p>
      <h3>Punto de recogida </h3>
      <small class="text-muted">Debe acudir a la siguiente dirección para recivir el producto o servicio</small>
      <br>
      <p>
        {{product.business_name}} <br>
        {{product.line_one}} <br>
        {{product.post_code}} <br>
        {{product.city}} <br>
        {{product.state}} <br>
        {{product.country}} <br>
      </p>


    </div>
  </body>
</html>
